.itemLastContainer {
  height: 9.6rem;
}

.itemTitle{
  height: 2.2rem;
  width: auto;
}

.inStock {
  color: var(--sixth);
}

.itemLabel{
  width: 3rem;
  height: 2.3rem;
}

.category{
  color: var(--darkGray);

}

.minusAndPlusButton{
  width: 2.2rem;
  height: 2.2rem;
  font-size: 1.25rem;
}

.deleteButton{
  width: 2.3rem;
  height: 2.3rem;
  border: 0;
  background-color: var(--white);
}

.imageProductCartContainer{
  width: 100%;
  height: 100%;
}

.max-w-90{
  width: 75%;
}

.fs-custom{
  font-size: 1.2rem;
}

@media screen and (min-width: 720px){
.fs-custom{
  font-size: 1.65rem;
}
}

@media (max-width: 768px) {
  .votesCounter{
    display: block;
  }
}

