@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400&family=Overlock:wght@400;700&display=swap');
/* ----- VARIABLES ----- */
:root{
    --first: #0E614C;
    --second: #18AD88;
    --third: #6dd6bc;
    --fourth: #947707;
    --fifth: #E0BE38;
    --sixth: #11c701;
    --black: #101010;
    --darkGray: #656565;
    --lightGray: #e7e7e7;
    --white: #FEFEFE;
}

html{
    box-sizing: border-box;

}

*,
*::before,
*::after{
    box-sizing: inherit;
}

.body{
    background: linear-gradient(to bottom, #F2CC85, #ceac71);
    background: #e4e2d9;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    font-family: 'Overlock', cursive;
    padding-bottom: 4rem;
}

.star {
  color: var(--fifth);
}

.cardImage{
    height: 11rem;
    max-width: 90%;
    object-fit: contain;
  }

  .max-w-1{
      width: min(95%, 1200px);

  }
